.conveterCard {
  border-radius: 15px !important;
}
.conveterCardContent {
  padding: 50px 60px !important;
}
.title {
  font-size: 24px !important;
  font-weight: 600 !important;
  padding-bottom: 20px !important;
}
.label {
  padding-bottom: 5px;
}
.input {
  height: 15px !important;
}
.swapIcon {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.footerText {
  display: block !important;
  margin: 10px auto !important;
  font-weight: 600 !important;
}
